* {
  margin: 0;
  padding: 0;
}
.container {
  width: 50%;
  height: 100vh;
  float: left;
}
.cube-container {
  background-color: #444;
  perspective: 800px;
  perspective-origin: 50% 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cube-container,
.cube-container * {
  font-size: 30px;
}
.cube-container > .cube {
  width: 10em;
  height: 10em;
  perspective: 0;
  transform-style: preserve-3d;
  transform: rotateX(-30deg) rotateY(45deg);
  transition: transform 0.5s;
  cursor: move;
}
.cube-container > .cube > .face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: inherit;
  color: transparent;
  box-sizing: border-box;
  --margin: 0.6em;
  --size: calc(33.33% - (var(--margin) / 3));
}

.cube-container > .cube > .face > .row,
.cube-container > .cube > .face > .col {
  display: block;
  float: left;
  box-sizing: border-box;
  background-color: #000;
}

.cube-container > .cube > .face > .row {
  width: 100%;
  clear: both;
  height: 33.3333%;
}
.cube-container > .cube > .face > .row > .cubelet {
  height: 100%;
  width: var(--size);
}

.cube-container > .cube > .face > .col {
  height: 100%;
  width: 33.3333%;
}
.cube-container > .cube > .face > .col > .cubelet {
  width: 100%;
  height: var(--size);
}

.cube-container > .cube > .face > * > .cubelet {
  display: block;
  float: left;
  border-radius: 8px;
}

.cube-container > .cube > .face > .col,
.cube-container > .cube > .face > .row {
  padding: calc(var(--margin) / 4);
}

.cube-container > .cube > .face > .row > .cubelet:not(:last-child) {
  margin-right: calc(var(--margin) / 2);
}
.cube-container > .cube > .face > .col > .cubelet:not(:last-child) {
  margin-bottom: calc(var(--margin) / 2);
}

.cube-container > .cube > .face.fake {
  background-color: #000;
}
.cube-container > .cube > .face.fake-front {
  transform: translateZ(1.63em);
}
.cube-container > .cube > .face.fake-back {
  transform: rotateY(180deg) translateZ(1.63em);
}
.cube-container > .cube > .face.fake-right {
  transform: rotateY(90deg) translateZ(1.63em);
}
.cube-container > .cube > .face.fake-left {
  transform: rotateY(-90deg) translateZ(1.63em);
}
.cube-container > .cube > .face.fake-top {
  transform: rotateX(90deg) translateZ(1.63em);
}
.cube-container > .cube > .face.fake-bottom {
  transform: rotateX(-90deg) translateZ(1.63em);
}

.cube-container .no-display,
.cube-container > .cube > .face.fake:not(.active) {
  opacity: 0 !important;
}

/* temporary styling */
.front .cubelet {
  background: green;
}
.back .cubelet {
  background: blue;
}
.right .cubelet {
  background: red;
}
.left .cubelet {
  background: orange;
}
.top .cubelet {
  background: white;
}
.bottom .cubelet {
  background: yellow;
}
